@{
  Layout = "_Layout";
}

    <h1>OrderDetails:</h1>
@using VendorOrderTracker.Models
    <ul>
      <li><b>Order Title:</b> $@Model.Title</li>
      <li><b>Order Price:</b> $@Model.Price</li>
      <li><b>Order Date:</b> @Model.Date</li>                  
    </ul><br>

    <a href='/orders/new'>Add another Order</a><br>
    <a href='/orders'>View all Orders</a>