@{
  Layout = "_Layout";
}

    <h1>OrderDetails:</h1>
@using VendorOrderTracker.Models
    <ul>
      <li><b>Order Title:</b> @Model["order"].Title</li>
      <li><b>Order Price:</b> @Model["order"].Price</li>
      <li><b>Order Date:</b> @Model["order"].Date</li>                  
    </ul><br>

<a href='/vendors/@Model["vendors"].Id/orders/new'>Add another item</a>
<a href='/vendors'>View all vendors</a>